#settings {
    margin-top: 5%;
}

.input-file-container {
    position: relative;
    width: 225px;
}
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #007bff;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #0069d9;
    color: white;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}
.js .file-return:not(:empty):before {
    content: "Ausgewählte Datei: ";
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    color: #515151;
    background: #FCFDFD;
}
#sm, #lg {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color: #515151;
}
#sm {
    margin: 5px 0 2em;
    color: #007bff;
}
form {
    width: 225px;
    margin: 0 auto;
    text-align:center;
}
#sm + P {
    text-align: center;
}
#inputs {
    align-items:center;
}
.txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #515151;
}
.copy {
    margin-top: 2em;
}
.copy a {
    text-decoration: none;
    color: #007bff;
}
.profilbild{
    display: block;
    margin-left: auto;
    margin-right: auto
}